<div class="center hero-unit">

  <h2>
    欢迎访问我的网站
  </h2>

  <%= link_to "现在注册", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("header.JPG", alt: "Rails"), 'http://rubyonrails.org/' %>