<footer class="footer">
  <small>
    儿童安全 by 刘奇男
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于作者",   about_path %></li>
      <li><%= link_to "联系方式", contact_path %></li>
      <li><a href="http://weibo.com/liuqinan">微博</a></li>
    </ul>
  </nav>
</footer>